<p>create-task works!</p>
<div class="container"></div>
<form (ngSubmit)="createTask()">
        
   <div class="mb-3">
      <label for="task-number" class="form-label">Task number</label>
      <input type="text" 
             class="form-control" 
             id="task-number"
             name="task-number"
             aria-describedby="taskHelp"
             required
             [(ngModel)]="task.number">
      <div id="taskHelp" class="form-text">Task number is required!</div>
   </div>

   <div class="mb-3">
      <label for="task-name" class="form-label">Task name</label>
      <input type="text" 
             class="form-control" 
             id="task-name"
             name="task-name"
             aria-describedby="taskHelp"
             required
             [(ngModel)]="task.name">
      <div id="taskHelp" class="form-text">Task name is required!</div>
    </div>

    

    <div class="mb-3 form-check">
      <input type="checkbox" 
             class="form-check-input" 
             id="task-favorite"
             name="task-favorite"
             [(ngModel)]="task.favorite">
      <label class="form-check-label" for="task-favorite">Favorite</label>
    </div>

    <button type="submit" class="btn btn-primary">Create task</button>
</form>
<div>{{task | json}}</div>

